[flake8]
jobs = auto
verbose = 1
quiet = 0
tee = True
exclude =
    # git folder
    .git,
    # python cache
    __pycache__,
    test,
    eggs
filename =
    *.py

disable-noqa = False

max-line-length = 120
max-complexity = 10
ignore =
    F401
    C901
    W504
    W503
    F841
    F811
    F524
    E501
