.idea/
__pycache__/
build/
.DS_Store
.env
venv/
main.py
*.json
src/
register_agent.py__
test.py
docker-compose.yaml
tmp/
wazuh_indexer_ssl_certs
snyk-code.sarif
.dccache
.coverage*
coverage.xml
htmlcov
