name: Build and push docker images for main branch
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./Dockerfile
            image: kennyopennix/wazuh-agent
          - dockerfile: ./images/Dockerfile.amazonlinux
            image: kennyopennix/wazuh-agent-amazonlinux
          - dockerfile: ./images/Dockerfile.ubuntu
            image: kennyopennix/wazuh-agent-ubuntu
          - dockerfile: ./Dockerfile
            image: opennix/wazuh-agent
          - dockerfile: ./images/Dockerfile.amazonlinux
            image: opennix/wazuh-agent-amazonlinux
          - dockerfile: ./images/Dockerfile.ubuntu
            image: opennix/wazuh-agent-ubuntu
          - dockerfile: ./Dockerfile
            image: kinseii/wazuh-agent
          - dockerfile: ./images/Dockerfile.amazonlinux
            image: kinseii/wazuh-agent-amazonlinux
          - dockerfile: ./images/Dockerfile.ubuntu
            image: kinseii/wazuh-agent-ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        if: github.event_name != 'pull_request'
        continue-on-error: true
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ matrix.image }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - name: Build and push
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5.4.0
        continue-on-error: true
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
